configure
*.o
*.lo
autom4te.cache
.deps
.libs
Makefile
*.in
aclocal.m4
compile
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
config.log
config.status
libtool
INSTALL

.DS_Store
.autotools
.cproject
.project
.settings/
AUTHORS
NEWS
README
src/1
src/bgpsplitter
src/updates.20090501.0000.gz
ChangeLog
config.h
stamp-h1

