configure
*.o
*.lo
autom4te.cache
.deps
.libs
Makefile
*.in
aclocal.m4
compile
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
config.log
config.status
libtool
.DS_Store
.autotools
.cproject
.project
.settings/
AUTHORS
src/1
src/bgpsplitter
src/updates.20090501.0000.gz
ChangeLog
config.h
stamp-h1
*.core
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/pkg.m4
